<%= form_with(model: task, data: { controller: "autosubmit", action: "input->autosubmit#submit" }) do |form| %>
  <% if task.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div id="preview"></div>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.button "Preview / Validate", formaction: preview_tasks_path, name: "_method", value: "post",
      data: { autosubmit_target: "submitbutton" } %>
    <%= form.submit %>
  </div>
<% end %>
